section {
  height: 100vh;
  /*border: 1px solid green;*/
}

/**************************START FILTERS SECTION*******************/

#filtersContainer {
  border-right: 1pt solid #e6e6e6;
}

#filtersContainer .panel-group {
  margin: 15pt;
}

.filter-title {
  width: 153px;
  height: 24px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #0058c3;
}
.filter-title > span{
  display: inline-block;
}
.form-check label {
  width: 96px;
  height: 18px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8f99a3;

  cursor: pointer;
}
.filterDivider {
  margin: 15pt;
  height: 1pt;
  border: solid 1px #e6e6e6;
}

/**************************END FILTERS SECTION*******************/




/**************************START RESULTS SECTION*******************/
#resultsContainer {
  border-right: 1pt solid #e6e6e6;
}

/**************************END RESULTS SECTION*******************/




/**************************START MAP SECTION*******************/
#mapContainer {
  /*height: 100vh;*/
}

/**************************END MAP SECTION*******************/


