


.Captura-de-Pantalla-2020-03-25-a-las-155236 {
  width: 1000px;
  height: 900px;
  margin-top: 100px;
  margin-left: 200px;
}
.DENTAL-PLAN {
  width: 113px;
  height: 20px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  color: #9b9b9b;
  margin-top: 0px;
  /*margin-bottom: 12px;*/
  /*margin-top: 12px;*/
  /*margin-left: 15px;*/
  border: 0px;

}
.SEARCH {
  width: 94px;
  height: 48px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  background-color: #0058c3;
  border:0px;
}
.Rectangle-3-Copy-3 {
  /*width: 917px;*/
  width: 757px;
  height: 48px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}
.DENTAL-PLAN-Select{
  width: 200px;
  height: 46px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}
.YOUR-location {
  width: 230px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  /*color: #9b9b9b;*/

  border: 1px;
  padding-left: 12px;
}
.Advanced-search {
  width: 150px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.17px;
  color: #9b9b9b;
  background-color: white;
  margin-top: 19px;
  border: 0px;
}

.footer_Rectangle {
  width: 239px;
  height: 229px;
  border-radius: 16px;
  box-shadow: 0 4px 18px 0 rgba(17, 29, 41, 0.1);
  background-color: #ffffff;
  display: inline-block;

}

.footer{
  margin-left: 20px;
}

.horizontal-line{
  width: 757px;
  margin-left: 10px;
  /*margin-top: 5px;*/
}
.Accepting-new-patien {
  width: 148px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8f99a3;
}

.availability {
  width: 153px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #0058c3;
}

.Specialization_div
{
  width: 200px;
  margin-left: 200px;
  display: inline-block;
}
.Specialization {
  width: 153px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #0058c3;
}



.Extended-Hours {

  width: 183px;

  height: 24px;

  font-family: SourceSansPro;

  font-size: 14px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.71;

  letter-spacing: 1.17px;

  color: #0058c3;

}



.Saturday {
  width: 128px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8f99a3;
}
.Weekday {
  width: 128px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8f99a3;
}


.accessibility_div{
  display:inline-block;
  width: 200px;

}
.accessibility {
  width: 153px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #0058c3;
;
}

.Handicap-Accessible {
  width: 148px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8f99a3;
}
.GENDER_div{
  margin-left: 55px;
  display: inline-block;
}
.DoctorName_div{
  display: inline-block;
}

.SECOND-NAME {
  width: 130px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #9b9b9b;
  border: 0px;
}

.FIRST-NAME {
  width: 125px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #9b9b9b;
  border: 0px
;
}

.GENDER {
  width: 148px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #0058c3;

}

.MALE {
  width: 55px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #9b9b9b;
  border: 0px;
}

.FEMALE {
  width: 75px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #ffffff;
  border: 0px;
  margin-left: 15px;
  background-color: #0058c3;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.Languages-Spoken {
  width: 200px;
  height: 24px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 1.17px;
  color: #0058c3;
}
.Languages-Spoken_coln
{
  display: inline-block;
  margin-left: 55px;
  width: 100px;

}
